.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

/* Dining menu images: fixed-height cards with cropped cover */
.food-item {
  overflow: hidden;
}
.food-item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .food-item img {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .food-item img {
    height: 220px;
  }
}